 <!-- This view for latest Subcategory code start here-->
 <ion-view class="news-card" view-title="Playlists" ng-show="!top_news">

   <ion-content >
    <ion-list>
      <ion-item ng-repeat="latCat in latestCategory " ng-click="getNewsFeed(latCat)" >
        {{latCat.category}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
 <!-- This view for latest Subcategory code end here-->

<!-- This view for Data News -->
<ion-view view-title="Playlists" ng-show="top_news" >
	<ion-content class="news-card"  >
  	<ion-refresher on-refresh="doRefresh(topNewsData)">
                     
     </ion-refresher>
     	
	<ion-list  ng-repeat="top in topNewsData track by $index "> 
		<ion-item class="padding-remove list-view card-padding"> 
			<div >
				<a>
					<img ng-if="top.Image.Photo" class="news-pic" hires="{{top.Image.Photo}}" src="img/user-img.png" />
				</a>
				<a>
					<img  ng-if="top.Photo" class="news-pic " hires="{{top.Photo}}"  src="img/user-img.png " />
				</a>
			</div>

			<div class="text-padding">
				<span ng-if="top.Image.PhotoCaption" class="wrapping-text ">{{top.Image.PhotoCaption}}</span>
				<span ng-if="top.HeadLine" class="wrapping-text ">{{top.HeadLine}}</span>

			</div>
			<div class="text-padding">
				<p class="wrapping-text ">{{top.Caption}} 
					<a href="#" ng-click="go_to_item(top)" >
						Read Full Story
					</a>
				</p>
			</div>
		</ion-item>
  	</ion-list>
  	<ion-infinite-scroll ng-if="totalPages > 1" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
  </ion-content>
</ion-view>

