<ion-side-menus enable-menu-with-back-views="false" ng-init="getnewsCat()">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h4 ng-if="latestSubCategory != 'Top News'" class="subCategory">{{latestSubCategory}} News</h4>
        <h4 ng-if="latestSubCategory == 'Top News'" class="subCategory">{{latestSubCategory}}</h4>
      </ion-nav-buttons>
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <!-- <h1 class="title">Category</h1> -->
      <div class="app-logo">
         <img class="logo" src="img/icon.png">
      </div>
      <div class="search-container">
         <img src="img/search.png">

         <input class="searchBar" type="text" placeholder="Search Category" data-ng-model="searchForce.category">
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-repeat="cate in allNewsCategory |  filter: searchForce.category " ng-click="getCategoryNews(cate);">
          {{cate.name}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
