<ion-view title="Welcome">
	<ion-content padding="true" overflow-scroll="true">
	  <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
	  <source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4"/>
	  </video>
	</ion-content>
</ion-view>