/* Empty. Add your own CSS if you like */

.add-item-margin {
	margin-bottom: 10px;
}
.news-pic {
	margin-bottom: 10px;
	width: 100% ;
}
.wrapping-text { 
	margin-top: 10px;
	white-space: normal !important;
	padding: 0 !important;
	margin-bottom: 15px !important;
 }

 body{ 
 	background-color: #f2f2f2;
 }

 .padding-remove{
	padding: 0;
 }

 .text-padding{
	padding: 0 16px;
 }

 .subCategory {
 	margin: 7px 5px;
 } 

.list-view{
 	border-radius: 3px;
 	-webkit-box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75); 
}
.list {
	margin:15px  !important;
	max-width: 900px ;
	
}  
.card-padding{
	padding: 0 !important;
}

.news-card{
	margin-top: 43px !important;
}

.text-padding a {
    color: red;
}

 .text-padding a:hover, .text-padding a:active{
    color: black;
 }

 .search-container input {
 	position: absolute;
    top: 0px;
    z-index: 777;
    right: 10px;
    padding: 3px;
    margin-top: 5px;
   	border-radius: 3px
    background-color: #fff;
    width: 75%;
}
 .search-container {
 	float: right;
 	margin-right: 10px;
 }

.search-container img {
	position: absolute;
    z-index: 888;
    height: 15px;
    right: 20px;
    top: 13px;
}
 .logo {
	position: absolute;
    z-index: 888;
    height: 33px;
    left: 20px;
}

@media (min-width:1025px) { 
	.list {
	margin:15px auto !important;
	width: 100%;
  }
}
